# Visual Studio
1/Project1/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.o
*.exe
*.out
build/
Debug/
1/Project1/Project1/x64
2/.vs
2/2/x64
2/x64
3/.vs
3/3/catch2
3/3/.vs
3/3/3
3/3/Debug
3/3/out
4/.vs
4/4/x64
4/x64
5/.vs
5/5/x64
5/x64
6/.vs
6/6/x64
6/x64
1/.vs
1/1/x64
1/x64
# Build artifacts
*.obj
*.exe
*.dll
*.pdb
*.ipch
*.pch
*.log
*.tlog
*.lastbuildstate

# CMake
CMakeFiles/
CMakeCache.txt
build/
cmake_install.cmake
Makefile

# x64/x86 builds
x64/
x86/